%primary-btn {
  border: 3px solid var(--prim-lt);
  background-color: var(--prim-lt);
  color: var(--main-dk);

  &:focus {
    box-shadow: 0 0 0 2px var(--main-md);
  }

  &:hover {
    background-color: var(--transparent);
    color: var(--main-dk);
  }

  &:active,
  &:hover {
    box-shadow: none;
  }

  &:active {
    transform: none;
  }

  .icon {
    color: var(--main-md);
  }
}

button {
  font-family: var(--monospace);
}

// upload btn
.upload__btn {
  @extend %primary-btn;

  &:hover,
  &:focus {
    .icon {
      transform: translateY(-4px);
    }
  }

  &:active {
    .icon--upload {
      transform: translateY(2px);
    }
  }
}

// reset btn
.reset__btn {
  @extend %primary-btn;

  &:hover,
  &:focus {
    .icon {
      transform: rotate(1turn);
    }
  }
}

// harvest btn
.harvest__btn {
  flex-grow: 1;
  margin-left: 3rem;
  background-color: var(--main-dk);
  color: #fff;
  border: 3px solid;

  &:focus,
  &:hover {
    background-color: var(--transparent);
    color: var(--main-md);
  }
}
