@mixin plain-links($color, $highlight, $underline) {
  padding: 0;
  box-shadow: 0 2px 0 $underline;
  color: $color;
  transition: all 200ms ease-in-out;
  line-height: 1.2;

  &:visited {
    color: $color;
  }

  &:hover,
  &:focus {
    color: var(--sec-dk);
    box-shadow: none;
    background-color: $highlight;
  }
}
