// tab list
.tabs__list {
  display: flex;
  color: var(--main-md);
}

.tab {
  padding: 0;

  + .tab {
    margin-left: 0.5em;
  }
}

// tab links
.tab__link {
  text-decoration: none;
  color: var(--main-dk);
  font-family: var(--headings-ff);
  padding: 0.5em 2em;
  display: block;
  position: relative;
  background-color: var(--prim-ltr);
  transition: all 200ms ease-in-out;

  @media screen and (min-width: 30em) {
    letter-spacing: 1px;
    font-size: 1.25rem;
  }

  // &:hover {
  //   color: var(--main-md);
  // }

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus,
  &:hover {
    background-color: var(--main-md);
    color: var(--prim-ltr) !important;

    &::after {
      background-color: var(--prim-ltr);
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 0.2em;
    bottom: 0;
    left: 50%;
    background-color: var(--main-md);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  &.active {
    color: var(--main-md);
  }

  &.active::after {
    opacity: 1;
  }

  .icon {
    transition: none;
  }
}

.tab__text {
  vertical-align: middle;
}

[role='tabpanel'] {
  padding: 1.5rem 0;
  min-height: 50vh;
  flex-grow: 1;
  color: var(--sec-dk);
  background-color: #fdfdfd;
  padding: 1.5rem;

  a {
    @include plain-links(var(--main-dk), var(--prim-lt), var(--main-md));
  }
}
